<div class="col s12" id="messages-card">
  <div class="card yellow darken-3">
    <div class="card-content white-text">
      <span class="card-title">Nova mensagem</span>
    </div>
  </div>
</div>

<div class="new-message-form">
    <%= render 'form' %>
</div>

<%= link_to 'Back', messages_path, class: 'btn', id: 'new-message-btn' %>
