<div id="message-sent-box">
  <div class="card blue-grey darken-3">
    <div class="card-content white-text">
      <span class="card-title"><strong>Mensagem enviada para <%= @message.receiver.name %></strong></span>
    </div>
    <div class="card-action">
      <p id="text-message"><%= @message.text %></p>
    </div>
  </div>
</div>

<%= link_to 'Back', messages_path, class: 'btn', id: 'new-message-btn' %>
