<%= link_to new_article_path, class: "btn-floating btn-large waves-effect waves-light red", style: 'margin: 2% 0 1% 1%;' do %>
  <i class="material-icons">add</i>
<% end %>

<% @articles.each do |article| %>
    <div class="col s12 m6">
      <div class="card amber lighten-5">
        <div class="card-content black-text">
          <span class="card-title"><%= link_to "#{article.title}", article_path(article) %></span>
          <p><%= article.description %></p>
        </div>
      </div>
    </div>
<% end %>
