<div class="col s12" id="signup-card" style="margin-top: 90px;">
  <div class="card yellow darken-3">
    <div class="card-content white-text">
      <span class="card-title">Cadastre-se</span>
    </div>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
