<div class="counter">
  <div class="card blue-grey darken-1" style="width: 50%; margin: 0 25% 0 25%">
          <div class="card-content white-text" style="text-align: center">
            <span class="card-title">Contribuiçao do Audopt</span>
            <p><%= "Animais adotados: #{Pet.instance.qtd}" %></p>
          </div>
  </div>

</div>

<div class="dog" style="display: flex;">
  <div class="image-dog" style="width: 40%; height: 400px; background: url('/assets/dog.png') no-repeat; background-size: contain; ">
  </div>
  <div class="info-dog" style="width: 50%; margin-top: 10%;">
    <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Amor aos Animais </span>
              <p>Animais abandonados podem causar diversos malefícios para você e para sua cidade, como doenças e acidentes.
            </div>
    </div>
  </div>
</div>

<div class="cat" style="display: flex;">
  <div class="info-cat" style="width: 50%; margin-top: 10%;">
    <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Solidariedade</span>
              <p>Para melhorar a situação, seja parte da maior rede social de adoções de animais do Brasil!</p>
            </div>
    </div>
  </div>
  <div class="image-cat" style="width: 40%; height: 400px; background: url('/assets/cat.jpg') no-repeat; background-size: contain;">
  </div>
</div>
