<div id="post-comments">
  <table class="comments">
    <tbody>
    <% if !@comments.empty?%>
      <% @comments.each do |comment| %>
        <% user = User.find(comment.user_id) %>
          <tr class="report">
              <td id="report-sender"><%= link_to(image_tag(user.avatar.url(:thumb), class:'comment-image'), user_path(user)) %></td>
            <td>
              <table>
                <tr><td><%= "#{User.find(comment.user_id).name} disse:" %></td></tr>
                <tr><td><%= comment.text %></td></tr>
              </table>
            </td>
          </tr>
      <% end %>
    <% else %>
      <p>Esta publicação não possui comentários</p>
    <% end %>  
    </tbody>
  </table>
</div>