<div class="col s12" id="post-card">
  <div class="card yellow darken-3">
    <div class="card-content white-text">
      <span class="card-title">Crie uma publicação!</span>
    </div>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
