/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .row .col.s2 {
     width: 20.666667%;
     margin-left: 65%;
     left: auto;
     right: auto;
 }

 #post-content-box > div.col.s3 > a > img {
   width: 100%
 }


body {
    background-image: url('images/background.png');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    position: fixed;
    z-index: 2000;
}

.whole-content {
    width: 80%;
    background: white !important;
    margin: 90px auto 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hidden {
    display: none;
}

.logo {
    margin-left: 20px;
}

#header {
  background-color: #e8c351 !important;
}

.btn-primary {
    background-color: #55abc2 !important;
}

#posts-header-btn {
    width: 105px !important;
}

.article-content {
  margin-top: 5%;
}

.image-logo {
    height: 50px;
    width: 50px;
    margin: 5px 10px 0 0;
}

.blue-grey > div{
    background-color: #4e782c !important;
}