// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-card {
  width: 50%;
  margin: 0 auto;
}

#post-new {
  width: 50%;
  margin: 0 auto;
}

.post-profile-image {
    height: 250px;
    width: 250px;
}

#publication-photo {
  width: 15%;
}

.publication {
  border-style: solid;
  border-color: gainsboro;
}

.post-details {
  margin-left: 40%;
}

#interested-btn {
  width: 200px;
  margin-left: 43%;
}

#uninterested-btn {
  width: 400px;
  margin-left: 40%;
  text-overflow: break-line;
}

.order-content {
    float: right;
}

.order-content > h6 {
    text-align: center;
}

.posts-header {
    margin-bottom: 20px;
}

#post-content {
  background-color: #EBDABC !important;
  width: 96%;
  margin-left: 2%;
}

/*#post-info > p {
  color: black;
}*/

/*#post-info > h3 {
  color: black;
}*/

#post-content-box {
  margin-top: 10px;
}

.post-plus-content {
  width: 96%;
  margin-left: 2%;
}

#order-posts {
  height: 125px;

  h6 {
    text-align: center;
    font-weight: bold;
  }
}
