// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-card {
  width: 50%;
  margin: 0 auto;
}

#post-new {
  width: 50%;
  margin: 0 auto;
}

.post-profile-image {
    height: 50%;
}

#publication-photo {
  width: 15%;
}

.publication {
  border-style: solid;
  border-color: gainsboro;
}

.post-details {
  margin-left: 40%;
}

#interested-btn {
  width: 200px;
  margin-left: 43%;
}

#uninterested-btn {
  width: 400px;
  margin-left: 40%;
  text-overflow: break-line;
}
