// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-image {
  border-radius: 100%;
}

.user-show {
  margin: 2% 0 0 42%;
}

#user-attributes {
  width: none !important;
  margin-left: 9%;

}

#new_user, #signup-card {
  width: 50%;
  margin: 0 auto;
}

#signup-button {
  margin-left: 40%;
}

#report-user {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

#submit-button {
  margin-left: 36%;
}

#report-sender {
  width: 5%;
}

#report-sender > a > img {
  border-radius: 100%;
  height: 30%;
}

#users-report {
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
}

.report {
  border-style: solid;
  border-color: gainsboro;
}

#form-login {
  margin-top: 30px;
}

#signup-box {
  margin-top: 30px;
}

#signup-box > div {
  background-color: #e8c351 !important;
}